body{
    background-color: #F0C146;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
nav{
    width: 100vwv;
}
.barred{
    font-family: Belanosima;
    font-size: 180%;
    display: flex;
    float: left;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
}
.barreg{
    font-family: Belanosima;
    display: flex;
    float: right;
    border-bottom: 6px solid black;
    width: 20%;
    margin-top: 3vw;
    margin-right: 8vw;
}
.titre a img{
    margin: 0px;
    padding: 0px;
    display: flex;
    float: left;
    width: 400px;
    height: 300px;
    margin-top: 6vw;
    margin-bottom: 9vw;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #000000;
    margin-left: 3vw;
    margin-right: 3vw;
}
.by{
    font-family: Belanosima;
    display: flex;
    position: fixed;
    top: 70%;
    left: 90%;
    transform: translate(-10%, 80%);
    text-align: left;
    writing-mode:tb-rl;
    white-space: nowrap;
    font-size: 400%;
    margin-left: 3%;
    margin-top: -20vw;
}
.contact{
    font-family: Belanosima;
    display: flex;
    float: right;
    text-align: left;
    font-size: 220%;
    margin-right: 13vw;
    margin-top: -7vw;
    line-height: 2em;
    border-top: 60px solid #fff;
    width: 40%;
    z-index: 5;
}
.contact a{
    text-decoration: none;
    color: black;
}

/* Pied de page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
