body{
    background-color: #5271FF;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
nav{
    width: 100vwv;
}
.barreg{
    display: flex;
    float: left;
    border-bottom: 6px solid black;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
}
.barred{
    font-family: kanit;
    display: flex;
    float: right;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
    margin-right: -2.5vw;
    font-size: 300%;
}
.titre h1{
    font-family: kanit;
    display: inline-block;
    text-align: right;
    width: 50vw;
    margin-top: 10vw;
    margin-right: 13vw;
    font-size: 900%;
    z-index: 100;
}
.by{
    font-family: kanit;
    display: flex;
    float: left;
    text-align: left;
    writing-mode:tb-rl;
    white-space: nowrap;
    font-size: 2vw;
    margin-top: 15vh;
    margin-left: 92vw;
}
.contact{
    font-family: kanit;
    display: flex;
    float: right;
    text-align: left;
    font-size: 220%;
    margin-right: 45vw;
    margin-top: -28.7vw;
    line-height: 30%;
    border-top: 60px solid #fff;
    width: 40vw;
    z-index: 5;
}

.contact .p{
    font-family: kanit;
    display: flex;
    float: right;
    text-align: left;
    margin-top: 5vw;
    width: 70vh;
    line-height: 50vh;
}
.contact a{
    text-decoration: none;
    color: black;
}

/* Pied de page */
footer {
    font-family: kanit;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
