body{
    background-color: #5271FF;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
nav{
    width: 100vwv;
}
.barreg{
    display: flex;
    float: left;
    border-bottom: 6px solid black;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
}
.barred{
    font-family: kanit;
    display: flex;
    float: right;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
    margin-right: -2.5vw;
    font-size: 300%;
}
.titre h1{
    font-family: kanit;
    display: inline-block;
    text-align: right;
    width: 87vw;
    margin-top: 14vw;
    margin-right: 13vw;
    font-size: 900%;
    z-index: 100;
}
.by{
    font-family: kanit;
    display: flex;
    float: left;
    text-align: left;
    writing-mode:tb-rl;
    white-space: nowrap;
    font-size: 2vw;
    margin-top: 5vh;
    margin-left: 2vw;
}
.contact{
    font-family: kanit;
    display: flex;
    float: right;
    text-align: left;
    font-size: 220%;
    margin-right: 13vw;
    margin-top: -7vw;
    line-height: 2em;
    border-top: 60px solid #fff;
    width: 40%;
    z-index: 5;
}
.contact a{
    text-decoration: none;
    color: black;
}

/* Pied de page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
