body{
    background-color: #B5B0AD;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
.barreg{
    display: flex;
    float: left;
    border-bottom: 6px solid black;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
}
.barred{
    font-family: kanit;
    display: flex;
    float: right;
    width: 20%;
    margin-top: 3vw;
    margin-left: 8vw;
    margin-right: -3.3vw;
    font-size: 300%;
}
a{
    text-decoration: none;
    color: #000000;
}
h1, h3, h4{
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    column-count: 3;
    flex-wrap: wrap;
    padding-top: 5%;
    margin: 2vw;
    width: 55vw;
    margin-left: 19%;
    top: 50vh;
}
main .TipTop{
    display: flex;
    justify-content: center;
    column-count: 3;
    column-gap: 90px;
    flex-wrap: wrap;
    background-color: #6b6561;
    border-radius: 5px;
    box-shadow: 0px 1px 30px #000000bb;
    padding: 2vh;
    margin: 1vw;
    width: 80%;
    font-family: Kanit;
    font-size: 20px;
}
main .TipTop img{
    width: 20vw;
    height: 20vh;
}
.Taches{
    display: flex;
    justify-content: center;
    column-count: 3;
    column-gap: 90px;
    flex-wrap: wrap;
    background-color: #6b6561;
    border-radius: 5px;
    box-shadow: 0px 1px 30px #000000bb;
    padding: 2vh;
    margin: 1vw;
    width: 80%;
    font-family: Kanit;
    font-size: 20px;
}
main .Mise-a-jour .Annees{
    display: flex;
    justify-content: center;
    column-count: 3;
    column-gap: 59.2%;
    flex-wrap: wrap;
    background-color: #6b6561;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 1px 30px #000000bb;
    padding: 2vh;
    margin: 1vw;
    width: 44vw;
    font-family: Kanit;
    font-size: 20px;
}
main .Mise-a-jour .Phase1{
    display: flex;
    justify-content: center;
    column-count: 3;
    column-gap: 90px;
    flex-wrap: wrap;
    background-color: #837f7c;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 1px 30px #000000bb;
    padding: 2vh;
    margin: 1vw;
    width: 80%;
    font-family: Kanit;
    font-size: 20px;
}

footer {
    font-family: kanit;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}