body {
    background-color: #d8aeae;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  
  .barreg{
      display: flex;
      float: left;
      border-bottom: 6px solid black;
      width: 20%;
      margin-top: 3vw;
      margin-left: 8vw;
  }
  .barred{
      font-family: kanit;
      display: flex;
      float: right;
      width: 20%;
      margin-top: 3vw;
      margin-left: 8vw;
      margin-right: -3.3vw;
      font-size: 300%;
  }
  
  .by{
      margin: 0px;
      padding: 0px;
      font-family: kanit;
      display: flex;
      position: fixed;
      top: 60%;
      left: 90%;
      transform: translate(-15%, -120%);
      text-align: left;
      writing-mode:tb-rl;
      white-space: nowrap;
      font-size: 400%;
      margin-left: 3%;
      margin-top: -3vw;
      position: relative;
      z-index: 9;
  }
  
  
    /* start Portfolio */
    
    .portfolio .boxs {
      display: flex;
      justify-content: center;
      column-count: 3;
      column-gap: 90px;
      flex-wrap: wrap;
      width: 100vw;
      height: 71vh;
      padding-top: 5%;
    }
    .portfolio .box {
      position: relative;
      overflow: hidden;
      width: 25%;
      height: 30%;
      border-radius: 10px;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    }
    
    .portfolio .box img {
      width: 100%;
      height: 100%;
    }
    h1, h3{
        display: flex;
        justify-content: center;
        column-count: 3;
        column-gap: 90px;
        flex-wrap: wrap;
        padding: 2vh;
        font-family: Kanit;
        font-size: 20px;
    }
.description{
    display: flex;
    justify-content: center;
    column-count: 3;
    column-gap: 90px;
    flex-wrap: wrap;
    background-color: #dd9c9c;
    border-radius: 5px;
    box-shadow: 0px 1px 30px #000000bb;
    padding: 2vh;
    margin: 1vw;
    font-family: Kanit;
    font-size: 20px;
}
    
  /* Pied de page */
  footer {
    font-family: kanit;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }